@charset "utf-8";

@media screen and (max-width:767px) {
.flex-next{display: none;}
  /* mobile ver slide */
  .pc_ver{display: none;}
  .m_ver{display: block;}
  /* 모바일 헤더 영역 */
  .header_inner{
    height: 70px;
    width: 100%;
  }
  .header_inner > h1{
    width: 80px;
    margin: 0px auto;
    text-align: center;
    transform: translateY(5px) translateX(-5px);
  }
  /* 헤더 - 전체메뉴, 검색버튼 */
  .total_btn, i.m_search{
    display: inline;
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    padding: 14px;
    top: 8px;
    cursor: pointer;
  }
  .total_btn{left: 10px;}
  i.m_search{right: 10px;}

  /* 닫기버튼, 서브메뉴 아이콘 보이도록 */
  i.fa-times, i.fa-angle-down{
    display: inline;
    color: #fff;
  }
  i.fa-times{
    position: absolute;
    right: 10px; top: 10px;
    font-size: 1.875rem;
    padding: 14px;
  }
  /* 토글버튼 클릭시, 내비게이션 등장 */
  #toggle:checked + header > .header_inner > .lnb {left: 0%;} 
  #toggle:checked + header > .gnb {left: 0%;} 
  /* #toggle:checked + header nav{left: 0%;} */

  /* lnb 서식 */
  .lnb{
    position: fixed;
    top: 460px; left: -1000%;
    z-index: 200;
    transition: 0.3s;
  }
  .lnb > ul{
    display: block; width: 80%;
    margin: 0px auto;
  }
  .lnb > ul > li{
    display: inline-block;
    width: 49%; background-color: #333;
    text-align: center;
    margin-bottom: 10px;
  }
  .lnb > ul > li > a{
    display: block;
    line-height: 300%;
    color: #fff;
    border: none;
  }
  .lnb > ul > li:last-child{margin-left: 0.1%; border: none;}
  /* 내비게이션 */
  .gnb{
    position: fixed;
    width: 100%; height: 100%;
    left: -100%; top: 0px;
    background-color: rgba(0,0,0,.7);
    padding: 0px 3%;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 100;
  }
  .gnb > h2{
    color: #ff4148;
    display: block;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    transform: translate(10px, 80px);
  }
  .gnb > ul{
    width: 100%;
    padding-top: 100px;
    display: block;
  }
  .gnb > ul > li{
    text-align: left;
    border-bottom: 1px solid rgb(145, 145, 145);
  }
  .gnb > ul > li > a{
     color: #fff;
     display: block;
     line-height: 280%;
     font-size: 1rem;
  }
  
  /* 서브 내비게이션 서식 */
  .gnb > ul > li a:hover{color:none;}
  .gnb > ul > li a::after{background:none;}
  .gnb:hover{height: 100%;}

  i.fa-angle-down{
    float: right; 
    font-size: 1.3rem;
    padding-top: 10px;
  }
  .sub{display: none;}
  .sub a{color: #fff;}

  /* 메인콘텐츠 서식 */
  .slide{width: 100%;}

  .cont{
    width:100%;
    display:grid;
    box-sizing: border-box;
    grid-template-columns: auto;
    grid-row-gap: 0.2%;
    grid-template-areas:
      "team"
      "t_info"
      "m_01"
      "m_02"
      "m_03"
      "m_04"
      "boo";
  }
  /* 메인 : 팀 */
  .team{width: 100%; transform: translateY(-20px);}
  .team iframe{width: 100%;}
 .team_info span{display: none;}
  .team_info{
    transform: translate(10px,0px);
    text-align: right;
    margin-bottom: 10px;
    }
  .team_info p{line-height: 110%;}
  .team_info p:nth-child(2){font-size: 2rem;}
  .team_info p:nth-child(3){font-size: 1rem;}
  .team_info p:last-child{font-size: 0.75rem;}

  /* 해상도 낮은 모바일 기기에서 변경되는 서식 */
  @media screen and (max-width:370px) {
    .team_info p:nth-child(2){font-size: 1rem;}
    .team_info p:nth-child(3){font-size: 0.75rem;}
    .team_info p:last-child{font-size: 0.5rem;}
    .m_01 p, .m_02 p, .m_03 p, .m_04 p{
      width:320px; 
      padding: 40px;
    }
    .b_title{transform: translateX(-10px);}
    .sns > ul > li{padding-right: 5px;}
    address, .f_qna{width: 90%;}
    .boomerang{transform: translateX(130px);}
  }
  /* 메인 : 메뉴리스트 */
  .m_01, .m_02, .m_03, .m_04{width:100%; height:500px;}
  .m_01 img, .m_02 img, .m_03 img, .m_04 img{width: 100%;}
  .m_01 p, .m_02 p, .m_03 p, .m_04 p{
    width: 54%;
    bottom: 190px;
    font-size: 3rem;
  }
 
  /* 메인 : 부메랑 */
  .boomerang{width: 100%; margin: 0px auto;}
  .boo_text{display: none;}
  .b_title{
    transform: translateX(-40%);
    padding-top: 20px;
    border-top: 5px solid #222;
    border-right: none;
  }
  
  /* 메인 : 베네핏 */
  .benefit{display: none;}

/* top btn */
aside{width: 50px; transform: translateY(30px);}
aside img{width: 100%;}

/* 푸터영역 서식 */
#familysite{
  display: block;
  position: absolute; top: 34px; right: 20px;
}
.brand_btn, .f_lnb{display: none;}
footer{border:none;}
address, .f_qna{padding-left: 5%;}
address, .f_qna p{
  font-size: 0.5rem;
  line-height: 200%;
}
.f_qna p span{color: #fff;}
}